@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --secondary-background: #d4edf4;
  --foreground: #171717;
  --text-primary: #4d6483;
  --text-secondary: #27b2de;
  --font-base: 16px;
  --font-sm: 14px;
  --font-xs: 12px;
}

@media (max-height: 768px) {
  :root {
    --font-base: var(--font-sm);
  }
}

@media (max-height: 640px) {
  :root {
    --font-base: var(--font-xs);
  }
}

html {
  font-size: var(--font-base);
}
@layer utilities {
  .contain {
    max-width: 1512px;
    margin-inline: auto;
  }
}